* {
	padding: 0;
	margin: 0;

}

/**-------------Таблиця1---------------*/
.table-wrapper {
	margin: 0px auto;
	max-width: 500px;
	/*Я зробив контейнер для зручності,
	він центрує дві таблиці
	При потребі можна видалити*/
}

.table1 {
	border-collapse: collapse;
	width: 500px;
	margin: 30px 0px;
}

.table1 thead {
	background-color: #dae1f8;
}

.table1 td {
	border: 1px solid #6395ff;
	padding: 5px 15px 5px 15px;
}

.table1 th {
	border: 1px solid #6395ff;
	padding: 5px 15px 5px 15px;
}

.table1 tfoot {
	background-color: #5776b1;
}

.table1__tfoot {
	text-align: right;
}

/**-------------Таблиця2---------------*/
.table2 {
	border-collapse: collapse;
	font-family: Roboto;
	min-height: 300px;
	width: 500px;
}

.table2__title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 7px;
}

.headt th {
	border: 3px solid #000;
	padding: 5px;
}

/* .headt th:nth-child(-n+3) {
	background: blue;
} */

.headt__row tr {
	border-left: 1px solid #000;
}

.headt__row th:nth-child(5) {
	border-right: 1px dashed #000;
	font-weight: 400;
}

.headt__row th:nth-child(6) {
	border-left: 1px;
	font-weight: 400;
}

.text {
	font-size: 20px;
	width: 300px;
}

.bodyt {
	text-align: center;
}

.bodyt td:nth-child(3) {
	border-right: 1px solid #000;

}

.bodyt td:nth-child(4) {
	border-left: 1px solid #000;
	border-right: 1px dashed #000;

}

.bodyt td:nth-child(5) {
	border-left: 1px dashed #000;
}

.bodyt td {
	border: 3px solid #000;
}

.bodyt__monday {
	writing-mode: vertical-rl;
	text-orientation: upright;
	font-weight: bold;
	text-transform: uppercase;
}

.text-al {
	text-align: center;
}